exportPattern("^[[:alpha:]]+")
import(Rcpp, GMMAT, Matrix, STAAR)
importFrom("stats", "binomial", "dbeta", "glm", "model.matrix","lm","pcauchy","rnorm","quantile")
importFrom("GENESIS", "makeSparseMatrix")
importFrom("kinship2", "makekinship")

useDynLib(SCANG, .registration = TRUE)

# functions
export(fit_null_glm_SCANG, fit_null_glmmkin_SCANG, SCANG)

